:root {
  --red-clr: #ea4c89;
  --transition: all 0.5s linear;
}

body::before {
  content: "";
  display: block;
  height: 60px;
}

.bg-pink {
  background: var(--red-clr);
}
.text-pink {
  color: var(--red-clr);
}
.review {
  margin: 0 auto;
  width: 1000px;
}
.review-body {
  height: 100%;
}

.carousel-item {
  height: 20rem;
}
.card:hover {
  background: var(--red-clr);
  color: #fff;
  transition: var(--transition);
}
@media (min-width: 768px) {
  .form-responsive {
    width: 50%;
  }
}
