:root {
  --red-clr: #ea4c89;
}

body::before {
  content: "";
  display: block;
  height: 60px;
}

.bg-pink {
  background: var(--red-clr);
}
.text-pink {
  color: var(--red-clr);
}
.review {
  margin: 0 auto;
  width: 1000px;
}
.review-body {
  height: 100%;
}

.carousel-item {
  height: 20rem;
}
.carousel-item img {
  height: 15rem;
  width: 15rem;
  object-fit: cover;
  object-position: center center;
}
@media (min-width: 768px) {
  .form-responsive {
    width: 50%;
  }
}

/* @media (max-width: 768px) {
  .carousel-item {
    background-size: cover;
    background: no-repeat scroll center scroll;
    height: 20rem;
  }
} */
